<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<app-user [user]="user" (clicked)="onMessage($event)">
    <h3>Hello</h3>
</app-user>

<a routerLink="/" routerLinkActive="myClass" [routerLinkActiveOptions]="{exact:true}">Go to Home</a>
<a routerLink="/register" routerLinkActive="myClass">Go to Register</a>
<a routerLink="/users" routerLinkActive="myClass">Go to Users</a>
<button (click)="goToHome($event)">Go To Home Using Router</button>

<router-outlet></router-outlet>

<app-search-result [title]="el" *ngFor="let el of searchResults">

</app-search-result>


<h3 *ngIf="true" [ngClass]="'myClass'">This is visible!</h3>

<p appBgGreen>Hello World</p>
